body{
    background:black;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 10px;
}
.container{
    display: flex;
}
.logo1{
    position:absolute;
    top:10px;
    right:10px;
}
ul{
    padding:0;
    list-style-type: none;
   
}
ul li{
    display:inline-block;
    margin-right:10px;
}
li a{
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 25px;
    cursor:pointer;
}
li a:hover{
    color:aqua;
}
.dropdown{
    position: relative;
}
.dropdown-content {
    display: none;
}
.drop-item a{
    display:flex;
    font-size:10px;
    margin:5px;
    padding:0px;
}

.dropdown:hover .dropdown-content{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3b3636;
    z-index: 1;
 }
 .title_class{
    font-size: 23px;
    margin:300px;
    color:aliceblue;
 }
 .flip-card {
    background-color: transparent;
    width: 641px;
    height: 177px;
    border: 1px none #f1f1f1;
    perspective: 1000px;
    margin:100px;
    margin-top: 0px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 641px;
    height: 177px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 641px;
    height: 177px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(9, 9, 9);
    color: white;
    transform: rotateY(180deg);
  }

  .form-container {
    max-width: 400px;
    margin: 0 auto;
}
/* CSS for the input field */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}